# Git don't touch my files please
*			-text 

# Custom for Visual Studio
*.cs		diff=csharp
*.sln		merge=union
*.csproj	merge=union
*.vbproj	merge=union
*.fsproj	merge=union
*.dbproj	merge=union

# Standard to msysgit
*.exe		-diff
*.doc		diff=astext plain
*.DOC		diff=astext plain
*.docx		diff=astext plain
*.DOCX		diff=astext plain
*.dot		diff=astext plain
*.DOT		diff=astext plain
*.pdf		diff=astext plain
*.PDF		diff=astext plain
*.rtf		diff=astext plain
*.RTF		diff=astext plain