source https://nuget.org/api/v2

// Code
nuget FSharp.Core ~> 3.1
nuget Microsoft.CodeAnalysis = 1.0.0-rc2

// Unit tests
nuget NUnit
nuget NFluent
nuget FsUnit

// Build infrastructure
nuget FAKE
nuget NUnit.Runners
