version 3.25.1

source https://nuget.org/api/v2

redirects: on
framework: >= net45

// Code
nuget FSharp.Core ~> 4
nuget Microsoft.CodeAnalysis.CSharp.Workspaces ~> 1
nuget FParsec
nuget BlackFox.ColoredPrintf ~> 0.1

// IL-Repack doesn't like asssembly redirects
nuget Microsoft.Composition 1.0.27

// Unit tests
nuget Expecto 4.1.1
nuget NFluent ~> 1.3

// Build infrastructure
nuget FAKE
nuget SourceLink.Fake ~> 1.1
github fsharp/FAKE modules/Octokit/Octokit.fsx
