source https://nuget.org/api/v2

// Code
nuget FSharp.Core
nuget Microsoft.CodeAnalysis prerelease

// Unit tests
nuget NUnit
nuget NFluent
nuget FsUnit

// Build infrastructure
nuget FAKE
nuget NUnit.Runners
nuget ILRepack
nuget ilmerge